body {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to bottom, rgb(12, 20, 69) 30%, rgb(71, 30, 84) 70%);
  height: auto;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
}
