<div class="about-section" id="section2">
  <!-- <header class="bg-transparent shadow-md py-4"> -->
  <div class="container px-4 py-2">
    <h1 class="text-2xl font-bold text-gray-100 font-serif">About</h1>
  </div>
  <!-- </header> -->

  <main class="container mx-auto px-4 py-8">
    <div class="bg-white rounded-lg shadow-md p-6">
      <p class="text-gray-600 mb-4">I’m <b>Akash Bera</b>, a passionate Full-Stack Developer with a focus on delivering
        efficient, scalable, and user-centric digital solutions. Over the years, I’ve worked with a variety of clients
        and industries, helping them build applications that not only function seamlessly but also provide a great user
        experience.</p>

      <div class="flex flex-col md:flex-row gap-6">
        <div class="md:w-1/2">
          <img src="assets\profile.jpg" alt="Profile Picture" class="rounded-lg shadow-md">
        </div>

        <div class="md:w-1/2">
          <h2 class="text-xl font-bold mb-4">UI/UX Designer & Web Developer</h2>

          <!-- <p class="text-gray-600 mb-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua.</p> -->

          <ul class="list-disc pl-6">
            <li class="flex items-center">
              <span class="text-gray-800 font-bold">
                <span style="color: #59ccf2;">&rsaquo;</span>&nbsp;&nbsp;&nbsp;Birthday:
              </span>

              <span class="ml-2">21 Aug 1999</span>
            </li>
            <!-- <li class="flex items-center">
              <span class="text-gray-800 font-bold">Website:</span>
              <span class="ml-2"><a href="https://www.example.com" target="_blank"
                  class="text-blue-500 hover:underline">www.example.com</a></span>
            </li> -->
            <li class="flex items-center">
              <span class="text-gray-800 font-bold">
                <span style="color: #59ccf2;">&rsaquo;</span>&nbsp;&nbsp;&nbsp;Phone:
              </span>

              <span class="ml-2">+91 8972187723</span>
            </li>
            <li class="flex items-center">
              <span class="text-gray-800 font-bold">
                <span style="color: #59ccf2;">&rsaquo;</span>&nbsp;&nbsp;&nbsp;City:
              </span>

              <span class="ml-2">Ghatal,West Bengal</span>
            </li>
            <li class="flex items-center">
              <span class="text-gray-800 font-bold">
                <span style="color: #59ccf2;">&rsaquo;</span>&nbsp;&nbsp;&nbsp;Age:
              </span>

              <span class="ml-2">24</span>
            </li>
            <li class="flex items-center">
              <span class="text-gray-800 font-bold">
                <span style="color: #59ccf2;">&rsaquo;</span>&nbsp;&nbsp;&nbsp;Degree:
              </span>

              <span class="ml-2">Master</span>
            </li>
            <li class="flex items-center">
              <span class="text-gray-800 font-bold">
                <span style="color: #59ccf2;">&rsaquo;</span>&nbsp;&nbsp;&nbsp;Email:
              </span>

              <span class="ml-2">akashbera.cr7&#64;gmail.com</span>
            </li>
            <li class="flex items-center">
              <span class="text-gray-800 font-bold">
                <span style="color: #59ccf2;">&rsaquo;</span>&nbsp;&nbsp;&nbsp;Languages:
              </span>
              <span class="ml-2">English,Bengali,Hindi</span>
            </li>
          </ul>

          <p class="text-gray-600 mt-6">I am always eager to take on new challenges and continuously improve my skills.
            Whether it’s creating a user-friendly interface or writing efficient backend code, I thrive on solving
            problems and delivering value through technology.

            Let’s collaborate to build something amazing!</p>
        </div>
      </div>
    </div>
  </main>
</div>




<section id="section3">
  <div class="education-section text-white py-8">
    <div class="container px-4">
      <h1 class="text-2xl font-bold text-gray-100 font-serif">Education</h1>
    </div>
    <div class="container mx-auto flex flex-col items-start md:flex-row my-12 md:my-24">
      <div class="flex flex-col w-full sticky md:top-36 lg:w-1/3 mt-2 md:mt-12 px-8">
        <!-- <p class="ml-2 text-yellow-300 uppercase tracking-loose">Working Process</p> -->
        <p class="text-3xl md:text-4xl leading-normal md:leading-relaxed mb-2">The Journey of Learning</p>
        <p class="text-sm md:text-base text-gray-50 mb-4">
          Learning is a continuous process that fuels personal and professional growth. With every new skill and experience, I strive to push my boundaries, embracing challenges as opportunities to evolve. My journey is driven by curiosity, adaptability, and the desire to turn knowledge into action.
        </p>
        <a href="#"
          class="bg-transparent mr-auto hover:bg-yellow-300 text-yellow-300 hover:text-white rounded shadow hover:shadow-lg py-2 px-4 border border-yellow-300 hover:border-transparent">
          Explore Now</a>
      </div>
      <div class="ml-0 md:ml-12 lg:w-2/3 sticky">
        <div class="container mx-auto w-full h-full">
          <div class="relative wrap overflow-hidden p-10 h-full">
            <div class="border-2-2 border-yellow-555 absolute h-full border"
              style="right: 50%; border: 2px solid #FFC100; border-radius: 1%;"></div>
            <div class="border-2-2 border-yellow-555 absolute h-full border"
              style="left: 50%; border: 2px solid #FFC100; border-radius: 1%;"></div>
            <div class="mb-8 flex justify-between flex-row-reverse items-center w-full left-timeline">
              <div class="order-1 w-5/12"></div>
              <div class="order-1 w-5/12 px-1 py-4 text-right">
                <p class="mb-3 text-base text-yellow-300">2016</p>
                <h4 class="mb-3 font-bold text-lg md:text-2xl">Secondary</h4>
                <p class="text-sm md:text-base leading-snug text-gray-50 text-opacity-100">
                  Arambagh Vivekananda Academy <br>
                  Arambagh, Hooghly<br>percentage: 81.70%
                </p>
              </div>
            </div>
            <div class="mb-8 flex justify-between items-center w-full right-timeline">
              <div class="order-1 w-5/12"></div>
              <div class="order-1  w-5/12 px-1 py-4 text-left">
                <p class="mb-3 text-base text-yellow-300">2018</p>
                <h4 class="mb-3 font-bold text-lg md:text-2xl">Higher Secondary</h4>
                <p class="text-sm md:text-base leading-snug text-gray-50 text-opacity-100">
                  Arambagh Vivekananda Academy<br>Arambagh, Hooghly<br>percentage: 78.60%
                </p>
              </div>
            </div>
            <div class="mb-8 flex justify-between flex-row-reverse items-center w-full left-timeline">
              <div class="order-1 w-5/12"></div>
              <div class="order-1 w-5/12 px-1 py-4 text-right">
                <p class="mb-3 text-base text-yellow-300">2018-2021</p>
                <h4 class="mb-3 font-bold text-lg md:text-2xl">Graduation</h4>
                <p class="text-sm md:text-base leading-snug text-gray-50 text-opacity-100">
                  Tamralipta Institute Of Management And technology<br>Tamluk,Purba Medinipur<br>University:
                  MAKAUT<br>Bachelor of Computer Applications-BCA<br>percentage: 84.30%
                </p>
              </div>
            </div>

            <div class="mb-8 flex justify-between items-center w-full right-timeline">
              <div class="order-1 w-5/12"></div>

              <div class="order-1  w-5/12 px-1 py-4">
                <p class="mb-3 text-base text-yellow-300">2021-2023</p>
                <h4 class="mb-3 font-bold  text-lg md:text-2xl text-left">Master Degree</h4>
                <p class="text-sm md:text-base leading-snug text-gray-50 text-opacity-100">
                  Haldia Institute Of Technology<br>Haldia, West Bengal<br>University: MAKAUT <br>Master of Computer Applications-MCA<br>percentage: 85.00%
                </p>
              </div>
            </div>
          </div>
          <img class="mx-auto -mt-36 md:-mt-36"
            src="https://user-images.githubusercontent.com/54521023/116968861-ef21a000-acd2-11eb-95ac-a34b5b490265.png" />
        </div>
      </div>
    </div>
  </div>
</section>









<div class="py-4 skill-section" id="section4">
  <div class="container px-4">
    <h1 class="text-2xl font-bold text-gray-100 font-serif py-4">Skills</h1>
  </div>
  <div class="md:flex md:-mx-2 mt-4 md:pt-4 ">
    <div class="px-4 md:w-1/2 mt-6 md:mt-0 fade-in delay-1">
      <div
        class=" text-center p-4 md:p-6  mx-auto border-2 border-solid border-gray-300 rounded-full md:h-full bg-gradient-to-r from-pink-100 to-fuchsia-500">
        <div class="flex justify-between mb-1">
          <span class="text-base font-medium text-blue-700 dark:text-white">HTML</span>
          <span class="text-sm w-1/2 font-medium text-blue-700 dark:text-white">95%</span>
        </div>
        <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700">
          <div class="bg-blue-600 h-2.5 rounded-full" style="width: 95%"></div>
        </div>
      </div>
    </div>
    <div class="px-4 md:w-1/2 mt-6 md:mt-0 fade-in delay-2">
      <div class=" text-center p-4 md:p-6  mx-auto border-2 border-solid border-gray-300 rounded-full md:h-full bg-gradient-to-r from-red-100 to-pink-400">
        <div class="flex justify-between mb-1">
          <span class="text-base font-medium text-blue-700 dark:text-white">CSS</span>
          <span class="text-sm w-1/2 font-medium text-blue-700 dark:text-white">80%</span>
        </div>
        <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700">
          <div class="bg-blue-600 h-2.5 rounded-full" style="width: 80%"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="md:flex md:-mx-2 mt-4 md:pt-4 ">
    <div class="px-4 md:w-1/2 mt-6 md:mt-0 fade-in delay-3">
      <div class=" text-center p-4 md:p-6  mx-auto border-2 border-solid border-gray-300 rounded-full md:h-full bg-gradient-to-r from-pink-100 to-fuchsia-500">
        <div class="flex justify-between mb-1">
          <span class="text-base font-medium text-blue-700 dark:text-white">ANGULAR</span>
          <span class="text-sm w-1/2 font-medium text-blue-700 dark:text-white">80%</span>
        </div>
        <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700">
          <div class="bg-blue-600 h-2.5 rounded-full" style="width: 80%"></div>
        </div>
      </div>
    </div>
    <div class="px-4 md:w-1/2 mt-6 md:mt-0 fade-in delay-4">
      <div class=" text-center p-4 md:p-6  mx-auto border-2 border-solid border-gray-300 rounded-full md:h-full bg-gradient-to-r from-red-100 to-pink-400 ">
        <div class="flex justify-between mb-1">
          <span class="text-base font-medium text-blue-700 dark:text-white">JAVASCRIPT</span>
          <span class="text-sm w-1/2 font-medium text-blue-700 dark:text-white">70%</span>
        </div>
        <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700">
          <div class="bg-blue-600 h-2.5 rounded-full" style="width: 70%"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="md:flex md:-mx-2 mt-4 md:pt-4 ">
    <div class="px-4 md:w-1/2 mt-6 md:mt-0 fade-in delay-5">
      <div class=" text-center p-4 md:p-6  mx-auto border-2 border-solid border-gray-300 rounded-full md:h-full bg-gradient-to-r from-pink-100 to-fuchsia-500">
        <div class="flex justify-between mb-1">
          <span class="text-base font-medium text-blue-700 dark:text-white">SQL</span>
          <span class="text-sm w-1/2 font-medium text-blue-700 dark:text-white">60%</span>
        </div>
        <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700">
          <div class="bg-blue-600 h-2.5 rounded-full" style="width: 60%"></div>
        </div>
      </div>
    </div>
    <div class="px-4 md:w-1/2 mt-6 md:mt-0 fade-in delay-6">
      <div class=" text-center p-4 md:p-6  mx-auto border-2 border-solid border-gray-300 rounded-full md:h-full  bg-gradient-to-r from-red-100 to-pink-400">
        <div class="flex justify-between mb-1">
          <span class="text-base font-medium text-blue-700 dark:text-white">DOT NET</span>
          <span class="text-sm w-1/2 font-medium text-blue-700 dark:text-white">45%</span>
        </div>
        <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700">
          <div class="bg-blue-600 h-2.5 rounded-full" style="width: 45%"></div>
        </div>
      </div>
    </div>
  </div>
</div>







<div class="feature-1 py-4 experience-section " id="section5">
  <div class="container px-4">
    <h1 class="text-2xl font-bold text-gray-100 font-serif py-4">Experience</h1>
  </div>
  <div class="container px-4 mx-auto">
    <ul role="list" class="m-8 max-w-screen-md">
      <li class="group relative flex flex-col pb-8 pl-7 last:pb-0">
        <div class="absolute bottom-0 left-[calc(0.25rem-0.5px)] top-0 w-px bg-white/10 group-first:top-3"></div>
        <div class="absolute left-0 top-2 h-2 w-2 rounded-full border border-sky-300 bg-zinc-950"></div>
        <h3 class="mt-2 text-sm/2 font-semibold text-white">National Informatics Center ,Meity</h3>
        <p class="font-display text-2xs/6 order-first font-semibold tracking-[0.2em] text-sky-300">
          <time datetime="2023-06-20T17:30-04:00"
            >July 2023<!-- -->
            </time
          >
          <!-- -->-<!-- -->
          <time datetime="2023-06-20T18:30-04:00"
            >Present<!-- -->
            </time
          >
        </p>
        <p class="mt-0.5 text-sm/6 text-yellow-400">Software Engineer<br>Full-time</p>
      </li>
      <li class="group relative flex flex-col pb-8 pl-7 last:pb-0">
        <div class="absolute bottom-0 left-[calc(0.25rem-0.5px)] top-0 w-px bg-white/10 group-first:top-3"></div>
        <div class="absolute left-0 top-2 h-2 w-2 rounded-full border border-sky-300 bg-zinc-950"></div>
        <h3 class="mt-2 text-sm/2 font-semibold text-white">National Informatics Center ,Meity</h3>
        <p class="font-display text-2xs/6 order-first font-semibold tracking-[0.2em] text-sky-300">
          <time datetime="2023-06-20T18:30-04:00"
            >Jan 2023<!-- -->
            </time
          >
          <!-- -->-<!-- -->
          <time datetime="2023-06-20T20:00-04:00"
            >Jun 2023<!-- -->
            </time
          >
        </p>
        <p class="mt-0.5 text-sm/6 text-yellow-400">Internship Trainee<br>Apprenticeship</p>
      </li>
      <!-- <li class="group relative flex flex-col pb-8 pl-7 last:pb-0">
        <div class="absolute bottom-0 left-[calc(0.25rem-0.5px)] top-0 w-px bg-white/10 group-first:top-3"></div>
        <div class="absolute left-0 top-2 h-2 w-2 rounded-full border border-sky-300 bg-zinc-950"></div>
        <h3 class="mt-2 text-sm/6 font-semibold text-white">Evening social</h3>
        <p class="font-display text-2xs/6 order-first font-semibold tracking-[0.2em] text-sky-300">
          <time datetime="2023-06-20T20:00-04:00"
            >8:00
            PM</time
          >
          -
          <time datetime="2023-06-20T23:00-04:00"
            >11:00
            PM</time
          >
        </p>
        <p class="mt-0.5 text-sm/6 text-zinc-400">Spend the rest of the evening making connections with other community members over canapés, snacks, and refreshments.</p>
      </li> -->
    </ul>
















    <div class="flex -mx-4">
      <div class="px-4 text-center md:w-10/12 xl:w-8/12 mx-auto">
        <h1 class="mb-4 text-4xl font-medium text-white">Recent Projects</h1>
        <p class="mb-4 text-xl text-white font-serif">Explore the latest projects showcasing the versatility and creativity of our development process. From government initiatives to cutting-edge tools for designers, each project exemplifies our commitment to quality, usability, and efficient web solutions. Built with a focus on modern aesthetics and responsive design.</p>
        <button
          class="border-2 border-solid border-indigo-600 rounded py-2 px-12 text-xl text-indigo-600 hover:bg-indigo-600 hover:text-white mt-4 transition-color duration-300">Learn
          More</button>
      </div>
    </div>

    <div class="md:flex md:-mx-4 mt-12 md:pt-4 ">
      <div class="px-4 md:w-1/3 mt-6 md:mt-0 fade-in delay-6">
        <div
          class="feature-box text-center p-4 md:p-6 max-w-sm mx-auto border-2 border-solid border-gray-300 shadow-md hover:shadow-indigo-200 rounded md:h-full">
          <div class="text-xl p-4 w-16 h-16 mx-auto">
            <i class="fas fa-bolt text-indigo-600"></i>
          </div>
          <h5 class="text-xl font-medium mb-4 text-white">AAFS (govt. Of West Bengal)</h5>
          <p class="text-gray-100 mb-3">AAFS stands for Administrative Approval and Financial Sanction it allows departments to track the financial progress of projects from the start to the end of a financial year, or across multiple financial years.</p>
        </div>
      </div>
      <div class="px-4 md:w-1/3 mt-6 md:mt-0 fade-in delay-5">
        <div
          class="feature-box text-center p-4 md:p-6 max-w-sm mx-auto border-2 border-solid border-gray-300 shadow-md hover:shadow-indigo-200 rounded md:h-full">
          <div class="text-xl p-4 w-16 h-16 mx-auto">
            <i class="fas fa-code text-indigo-600"></i>
          </div>
          <h5 class="text-xl font-medium mb-4 text-white">Social pension scheme (govt of West Bengal)</h5>
          <p class="text-gray-100 mb-3">The purpose of the Jaibangla Social Pension Scheme in West Bengal is to ensure the economic well-being and
            social security of the vulnerable population in the state.</p>
        </div>
      </div>
      <div class="px-4 md:w-1/3 mt-6 md:mt-0 fade-in delay-4">
        <div
          class="feature-box text-center p-4 md:p-6 max-w-sm mx-auto border-2 border-solid border-gray-300 shadow-md hover:shadow-indigo-200 rounded md:h-full">
          <div class="text-xl p-4 w-16 h-16 mx-auto">
            <i class="fas fa-wrench text-indigo-600"></i>
          </div>
          <h5 class="text-xl font-medium mb-4 text-white">eBantan (govt. of West Bengal)</h5>
          <p class="text-gray-100 mb-3">E-Bantan is a module in the Integrated Financial Management System (IFMS) of West Bengal that distributes budget allocations to Sub-allotting Officers (Controlling Officers) and DDOs.</p>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- <div class="p-8">
  <div class="flex felx-col items-center justify-center"> <span
      class="rounded-full bg-indigo-500 px-2 py-1 text-white uppercase text-sm"> Insight </span> </div>
  <h1 class="text-4xl font-medium text-gray-700 text-center mt-6"> Full-Funnel Social Analytics </h1>
  <p class="text-center mt-6 text-lg font-light text-gray-500"> The time is now for it to be okay to be great. For being
    a bright color. For standing out. </p>
</div> -->
<!-- <div class="grid grid-cols-1 md:grid-cols-3">
  <div class="p-8">
    <div class="bg-indigo-100 rounded-full w-16 h-16 flex justify-center items-center text-indigo-500 shadow-2xl"> <svg
        xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd"
          d="M11.49 3.17c-.38-1.56-2.6-1.56-2.98 0a1.532 1.532 0 01-2.286.948c-1.372-.836-2.942.734-2.106 2.106.54.886.061 2.042-.947 2.287-1.561.379-1.561 2.6 0 2.978a1.532 1.532 0 01.947 2.287c-.836 1.372.734 2.942 2.106 2.106a1.532 1.532 0 012.287.947c.379 1.561 2.6 1.561 2.978 0a1.533 1.533 0 012.287-.947c1.372.836 2.942-.734 2.106-2.106a1.533 1.533 0 01.947-2.287c1.561-.379 1.561-2.6 0-2.978a1.532 1.532 0 01-.947-2.287c.836-1.372-.734-2.942-2.106-2.106a1.532 1.532 0 01-2.287-.947zM10 13a3 3 0 100-6 3 3 0 000 6z"
          clip-rule="evenodd" />
      </svg> </div>
    <h2 class="uppercase mt-6 text-indigo-500 font-medium mb-3"> Social conversations </h2>
    <p class="font-light text-sm text-gray-500 mb-3"> We get insulted by others, lose trust for those others. We get
      back stabbed by friends. It becomes harder for us to give others a hand. </p> <a
      class="text-indigo-500 flex items-center hover:text-indigo-600" href="/"> More about us icon <svg
        xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd"
          d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
          clip-rule="evenodd" />
      </svg> </a>
  </div>
  <div class="p-8">
    <div class="bg-green-100 rounded-full w-16 h-16 flex justify-center items-center text-green-500 shadow-2xl"> <svg
        xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd"
          d="M11.49 3.17c-.38-1.56-2.6-1.56-2.98 0a1.532 1.532 0 01-2.286.948c-1.372-.836-2.942.734-2.106 2.106.54.886.061 2.042-.947 2.287-1.561.379-1.561 2.6 0 2.978a1.532 1.532 0 01.947 2.287c-.836 1.372.734 2.942 2.106 2.106a1.532 1.532 0 012.287.947c.379 1.561 2.6 1.561 2.978 0a1.533 1.533 0 012.287-.947c1.372.836 2.942-.734 2.106-2.106a1.533 1.533 0 01.947-2.287c1.561-.379 1.561-2.6 0-2.978a1.532 1.532 0 01-.947-2.287c.836-1.372-.734-2.942-2.106-2.106a1.532 1.532 0 01-2.287-.947zM10 13a3 3 0 100-6 3 3 0 000 6z"
          clip-rule="evenodd" />
      </svg> </div>
    <h2 class="uppercase mt-6 text-green-500 font-medium mb-3"> Social conversations </h2>
    <p class="font-light text-sm text-gray-500 mb-3"> We get insulted by others, lose trust for those others. We get
      back stabbed by friends. It becomes harder for us to give others a hand. </p> <a
      class="text-green-500 flex items-center hover:text-green-600" href="/"> More about us icon <svg
        xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd"
          d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
          clip-rule="evenodd" />
      </svg> </a>
  </div>
  <div class="p-8">
    <div class="bg-red-100 rounded-full w-16 h-16 flex justify-center items-center text-red-500 shadow-2xl"> <svg
        xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd"
          d="M11.49 3.17c-.38-1.56-2.6-1.56-2.98 0a1.532 1.532 0 01-2.286.948c-1.372-.836-2.942.734-2.106 2.106.54.886.061 2.042-.947 2.287-1.561.379-1.561 2.6 0 2.978a1.532 1.532 0 01.947 2.287c-.836 1.372.734 2.942 2.106 2.106a1.532 1.532 0 012.287.947c.379 1.561 2.6 1.561 2.978 0a1.533 1.533 0 012.287-.947c1.372.836 2.942-.734 2.106-2.106a1.533 1.533 0 01.947-2.287c1.561-.379 1.561-2.6 0-2.978a1.532 1.532 0 01-.947-2.287c.836-1.372-.734-2.942-2.106-2.106a1.532 1.532 0 01-2.287-.947zM10 13a3 3 0 100-6 3 3 0 000 6z"
          clip-rule="evenodd" />
      </svg> </div>
    <h2 class="uppercase mt-6 text-red-500 font-medium mb-3"> Social conversations </h2>
    <p class="font-light text-sm text-gray-500 mb-3"> We get insulted by others, lose trust for those others. We get
      back stabbed by friends. It becomes harder for us to give others a hand. </p> <a
      class="text-red-500 flex items-center hover:text-red-600" href="/"> More about us icon <svg
        xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd"
          d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
          clip-rule="evenodd" />
      </svg> </a>
  </div>
</div> -->
